.navbar{
    background-color: rgb(237, 237, 231);
  
    padding-left: 350px;
    padding-right: 400px;
    
}
.navbar-nav{
    color: black;
}
.c{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
    
}

.b1{
    font-size: xx-large;
    font-weight: 700;
}

.demo img{
    border-radius: 100%;
    width: 60px;
}
.z1{
    color: black;
}
