.a1{
    text-align: center;
    font-size:xx-large;
    padding-top: 100px;
    padding-bottom: 100px;
}


.b1{   text-align: center;
    font-size:xx-large;

}

.c1{   text-align: center;
    font-size:xx-large;

}

.d1{
    text-align: center;
    font-size:xx-large;
}
.e1{width: 100%;
    height: 250px;

}