.col-lg-3{
    border: 2px solid black;
    padding-top: 35px;
}
.col-lg-6{
    border: 2px solid black;
    padding-top: 35px;
    color: rgb(247, 0, 0);
    font-size:xx-large;

}
.col-lg-2{
    border: 2px solid black;
    padding-top: 65px;



}
.col-lg-4{
    
    border: 2px solid black;
    padding-top: 65px;



}
.col-lg-9{

    border: 2px solid black;
    padding-top: 35px;
    color: blue;
    font-size: x-large;


}
.col-lg-12{
    border: 2px solid black;
    padding-top: 35px;
    color: rgb(26, 193, 126);

}
.f{  background-color: rgb(214, 9, 9);

    
}

