.container{border: 2px solid black;


}


.one{border: 2px solid black;
    padding-top: 100px;
    background-color:brown;



}


.two{border: 2px solid black;
    padding-top: 100px;
    background-color:blueviolet;



}



.three{border: 2px solid black;
    padding-top: 100px;
    background-color:brown;



}

.four{border: 2px solid black;
    padding-top: 100px;
    background-color:blueviolet;



}

.five{border: 2px solid black;
    padding-top: 100px;
    background-color:brown;




}
.six{border: 2px solid black;
    padding-top: 100px;
    background-color:blueviolet;



}
.seven{border: 2px solid black;
    padding-top: 100px;
    background-color: cyan;




}