.one{background-color: antiquewhite;
    padding-top:  30px;
    text-align: center;
    padding-bottom: 30px;

}

.three{background-color: antiquewhite;
 padding-top: 200px;
    text-align: center;
    padding-bottom: 200px;

}

